{% extends "base.html" %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html>

<head>
  <title>Biosite</title>

  <style>
    * { border: 2px solid #dedede; padding: 15px; margin: 15px; }
    html { margin: 0; padding: 0; }
    body { max-width: 600px; font-family: sans-serif; color: #333; }
  </style>
</head>
<section id="quote-of-the-day"></section>
<div class="meta-image"> <h1> Mara's Page </h1> 
  <img width="470" height="300" src= "{% static 'img/img_0468.jpeg' %}"				
          </div>
<body>
  
  <p>*** <strong>MOMENTUM</strong> Student related information.</p>
  <h2>Mara's Info </h2>
 
  <ul>
    <li>Name: Mara Brie Deckter</li>
    <li>Email: marabrie@gmail.com</li>
    <li>Phone: (919)670-7159 </li>
    <li>Bio:</li>
    <li>Skills:</li>
    <li>Education: 
      <li>Momentum Learning
      Full-Stack Program
      (2021)</li>
      
      Wake Technical Community College
      Surgical Technology (AAS) 
      Phlebotomy Certification
      
      Indiana University
      Masters of Public Affairs: MPH/MBA (incomplete)
      B.G.S. Anthropology, Biology, & Sociology
      
      Purdue University 
      B.S. Business Management/ (RHIT); Minor:Pre-Med, Math, Biology </li>
       </li>

  </ul>
  <body style="border: solid green 3px"></body>

<script>

</script>

</html>
{% endblock %} 
