{% extends "base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
  <title>Biosite</title>

  <style>
    * { border: 2px solid #dedede; padding: 15px; margin: 15px; }
    html { margin: 0; padding: 0; }
    body { max-width: 600px; font-family: sans-serif; color: #333; }
  </style>
</head>
<div class="meta-image"> <h1> Mara's Page </h1> 
  <img width="470" height="300" src= "{% static 'img/img_0468.jpeg' %}"				
          </div>
<body>
  
  <p>*** <strong>MOMENTUM</strong> Student related information.</p>
  <h2>Mara's Info </h2>
 
  <ul>
    <li>Name:</li>
    <li>Username:</li>
    <li>Password:</li>
    <li>Email:</li>
    <li>Phone:</li>
    <li>Bio:</li>
    <li>Skills:</li>

  </ul>
  <body style="border: solid green 3px"></body>

<script>

</script>

</html>
{% endblock %} 
