{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css'>
    <script src="{% static 'js/index.js' %}" defer></script>
    {% block styles %}
    {% endblock %}
    {% block scripts %}
    {% endblock %}
    {% block title %}
    {% endblock %}

    <style>
        * { border: 2px solid #dedede; padding: 15px; margin: 15px; }
        html { margin: 0; padding: 0; }
        body { max-width: 600px; font-family: sans-serif; color: #333; }
      </style>
      
</head>
<body>
    <!-- <header>
        <a href="/danielshearin">
        <article class="page-header">
        <div class="name"><h1>DANIEL<br>SHEARIN</h1></div>
        <div>
        <div class="quote" id='random-quote'></div></div>
        </article></a>

    </header> -->

    {% block content %}
    {% endblock %}

</body>
</html>