{% extends 'base.html' %}
{% load static %}
{% block content %} 

<div id="work" class="block">
<h3>WORK SAMPLES</h3>
<article class="info">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt placeat reiciendis, blanditiis in ad inventore, debitis dolorem aut pariatur ipsam perferendis iure est impedit tempora dolor nisi distinctio? Cupiditate, accusantium.
    <br><br><br>
    <a class="centerblock" href=https://github.com/danielshearin><span>GITHUB</span></a>
    <br><br>
</article>

<!-- <div class="centerblock"><center><h2><a href=https://github.com/danielshearin><span>GITHUB</span></a></h2></center></div> -->

<div class="block"><center>
    <imbed><iframe src="https://open.spotify.com/embed?uri=spotify%3Aplaylist%3A3Ir2ooLldkX5PmiM6e3t6q" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></imbed></center></div>
</div>

{% endblock %}